__pycache__/
*.py[cod]
venv/
.env
.vscode/settings.json
*.egg-info/
dist/
.ipynb_checkpoints/
*.log
*.tmp
digest.txt
apply_code.py
code.txt
.temp_run/
.temp_run
app/.temp_run/

*.pt
*.json
data/
runs/

bptt.md
c.md
q.md

